@media (max-width: 1220px){
  .withdrawals__inner{
    flex-direction: column;
    margin: 0;
  }
  .withdrawals__box{
    width: 100%;
    padding: 0;
    & + &{
      padding-top: 40px;
    }
  }
  .withdrawals__history-item{
    justify-content: space-between;
  }
  .withdrawals__history-status{
    flex-basis: 50px;
  }
  .product__more-item{
    width: 50%;
  }
  .product__more-name{
    display: block;
  }
  .product__inner{
    flex-direction: column;
  }
  .product__aside{
    max-width: 100%;
    order: -1;
  }
  .aside__price-buttons{
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
  .aside__price-btn{
    width: 33%;
    & + &{
      margin-left: 15px;
      margin-top: 0;
    }
  }
  .product{
    .aside__item-user{
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      .aside__title{
        width: 100%;
      }
    }
    .aside__user{
      margin-bottom: 0;
      margin-right: 25px;
    }
    .aside__item-info{
      margin-bottom: 30px;
    }
  }
  .product__content{
    max-width: 100%;
    margin-right: 0;
  }
  .items__inner{
    flex-direction: column;
  }
  .items{
    .items__aside{
      margin-right: 0;
      max-width: 100%;
    }
    .items__categories-line{
      justify-content: flex-start;
    }
    .items__categories-link{
      min-width: 150px;
      margin-right: 30px;
    }
    .items__form-btn{
      max-width: 300px;
      margin: 50px auto 0;
    }
  }
  .items__sellers{
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    .item__inner+.item__inner{
      margin-top: 0;
      padding-top: 0;
      border-top: none;
    }
    .item__inner{
      width: calc(33.333% - 30px);
      margin-left: 30px;
      margin-bottom: 30px;
    }
    .item__inner > a{
      display: block;
    }
    .item__img{
      height: 180px;
    }
    .items__sellers-btn{
      margin: 10px auto 0;
      transform: translateX(30px);
      max-width: 300px;
    }
  }
  .items__goods{
    grid-template-columns: repeat(3, 1fr);
    .item__inner > a{
      display: block;
    }
  }
  .items{
    .aside__item{
      margin-top: 30px;
    }
  }
  .items__aside{
    display: flex;
    flex-direction: column;
  }
  .items .items__sellers-aside{
    order: -1;
    margin-top: 0;
  }
  .items__content-header{
    margin-top: 30px;
  }
  .items__page-buttons{
    margin-top: 50px;
  }
}

@media (max-width: 1100px){
  .footer__inner {
    flex-wrap: wrap;
    padding: 60px 0;
  }
  .footer__col-about{
    width: 100%;
    margin-bottom: 30px;
  }
}

@media (max-width: 1000px){
  .header__text {
    display: none;
  }
  .settings__form-label{
    flex-wrap: wrap;
    span{
      flex-basis: 100%;
      margin-right: 0;
      margin-bottom: 15px;
    }
  }
  .settings__form-btn{
    display: block;
    margin: 25px auto 0;
  }
}

@media (max-width: 920px){
  .menu__list {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 20px 15px;
    background-color: $dark;
    z-index: 5;
    border-bottom: 5px solid rgba(#fff, .5);
  }
  .menu__item{
    display: block;
    text-align: center;
    & + &{
      margin-left: 0;
      border-top: 1px solid rgba(#fff, .5);
    }
  }
  .menu__link{
    color: #fff;
    display: block;
    padding: 20px 0;
    font-size: 20px;
  }
  .header__menu{
    height: 0;
  }
  .menu__btn{
    display: block;
    position: absolute;
    top: -55px;
  }
  .header__logo{
    margin-left: 55px;
  }
  .error__number span{
    padding-right: 0;
    &::after{
      display: none;
    }
  }
  .contact__row{
    flex-direction: column;
  }
  .contact__info{
    margin-right: 0;
    flex-basis: 100%;
    margin-bottom: 40px;
  }
  .profile__inner{
    flex-direction: column;
  }
  .profile__content{
    margin-left: 0;
    display: flex;
    flex-direction: column;
  }
  .profile__tabs-content{
    order: -1;
  }
  .profile__aside{
    max-width: 100%;
  }
  .profile{
    .aside__item{
      display: flex;
      flex-wrap: wrap;
      align-items: center;
    }
    .aside__title{
      width: 100%;
    }
    .aside__user{
      margin-bottom: 0;
      margin-right: 30px;
    }
  }
  .profile__btn{
    max-width: 300px;
  }
  .profile__tabs-controls{
    margin-bottom: 30px;
  }
  .profile__tabs-content{
    margin-bottom: 30px;
  }
  .profile__items{
    margin-bottom: 0;
  }
  .items__sellers{
    .item__inner{
      width: calc(50% - 30px);
    }
    .items__sellers-btn{
      max-width: 100%;
      transform: none;
      margin-left: 30px;
    }
  }
  .items__goods{
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 800px){
  .footer__inner{
    justify-content: flex-start;
  }
  .footer__col-list{
    margin-bottom: 30px;
    &+& {
      margin-left: 40px;
    }
  }
  .footer__col-contacts{
    width: 50%;
  }
  .footer{
    .social-link{
      margin: 0;
    }
    .social-item{
      & + & {
        margin-left: 30px;
      }
    }
  }
  .product__box{
    flex-direction: column;
  }
  .product__buttons{
    margin-bottom: 20px;
  }
  .items__view-buttons{
    display: none;
  }
}

@media (max-width: 720px){
  .container-fluid {
    padding: 0 15px;
  }
  .footer__col-contacts{
    width: 100%;
  }
  .header__notifications,
  .header__message{
    display: none;
  }
  .header-box-btn{
    display: block;
  }
  .header__top-inner{
    background-color: #fff;
  }
  .header__box{
    transition: all .5s;
    background-color: #fff;
    position: absolute;
    left: 0;
    height: 90px;
    z-index: 10;
    padding-right: 20px;
    transform: translateX(-200%);
    &.active{
      transform: translateX(0);
    }
  }
  .circle-menu{
    right: auto;
    left: 0;
  }
  .error__content{
    padding: 30px 15px 60px;
  }
  .error__number span{
    font-size: 200px;
    line-height: 200px;
  }
  .upload__form-content{
    padding: 43px 15px 0;
  }
  .upload__form-btn{
    margin-left: 191px;
  }
  .settings__wrapper{
    display: block;
  }
  .settings__tab-controls{
    margin-right: 0;
    margin-bottom: 25px;
  }
  .profile__items{
    display: block;
    border-right: none;
    border-bottom: 1px solid $border-color;
  }
  .profile__item{
    width: 100%;
    border: 1px solid $border-color;
    border-bottom: none;
  }
  .aside__price-buttons{
    display: block;
  }
  .aside__price-btn+.aside__price-btn{
    margin-left: 0;
    margin-top: 15px;
  }
  .aside__price-btn{
    display: block;
    width: 100%;
  }
  .product__title{
    font-size: 20px;
    line-height: 25px;
  }
  .product__tabs-controls{
    flex-direction: column;
    border: none;
    border-bottom: 1px solid $border-color;
  }
  .product__tabs-btn{
    border: 1px solid $border-color;
    border-bottom: 0;
  }
  .product__tabs-item{
    padding: 35px 15px;
  }
  .product__more-list{
    display: block;
    margin: 0;
  }
  .product__more-item{
    width: 100%;
    padding: 15px 0;
  }
  .product__tabs{
    margin-bottom: 30px;
  }
}

@media (max-width: 580px){
  .withdrawals__history{
    overflow-x: scroll;
    padding: 33px 15px 36px;
  }
  .withdrawals__history-item{
    min-width: 490px;
  }
  .withdrawals__form {
    padding: 25px 15px 50px;
  }
  .upload__form-label{
    flex-wrap: wrap;
  }
  .upload__form-label span{
    flex-basis: 100%;
    margin-right: 0;
    margin-bottom: 15px;
  }
  .upload__form-btn{
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  .contact__input-row{
    display: block;
  }
  .contact__form-input+.contact__form-input{
    margin-left: 0;
    margin-top: 28px;
  }
  .contact__form-input{
    width: 100%;
  }
  .contact__map iframe{
    height: 300px;
  }
  .profile .aside__item{
    display: block;
  }
  .profile .aside__user{
    margin-right: 0;
    margin-bottom: 25px;
  }
  .profile__tab-item {
    background-color: #fff;
    border: 1px solid #dedede;
    padding: 20px 15px 25px;
  }
  .product{
    .aside__item{
      padding: 22px 15px 25px;
    } 
  }
  .product__tabs-list{
    column-count: 1;
    li{
      max-width: 100%;
    }
  }
  .items__sellers{
    .item__inner{
      width: 100%;
    }
  }
  .items__goods{
    grid-template-columns: 1fr;
    .item__img{
      height: 240px;
    }
  }
}

@media (max-width: 500px){
  .footer__col-list{
    width: 100%;
    &+&{
      margin-left: 0;
    }
  }
  .footer{
    .social{
      justify-content: space-between;
    }
  }
  .error__number span{
    font-size: 120px;
    line-height: 120px;
  }
  .error__title{
    font-size: 18px;
  }
  .error__text{
    font-size: 15px;
  }
  .about__content{
    padding: 30px 15px;
  }
  .settings__content{
    padding: 33px 15px 50px;
  }
  .settings__header{
    padding-left: 15px;
    padding-right: 15px;
  }
  .contact__content{
    padding: 32px 15px 15px;
  }
  .contact__header{
    padding-left: 15px;
    padding-right: 15px;
  }
  .product .aside__item-user{
    display: block;
  }
  .product .aside__user{
    margin-right: 0;
    margin-bottom: 15px;
  }
  .product__buttons{
    display: block;
  }
  .product__btn{
    width: 100%;
  }
  .product__btn+.product__btn{
    margin-left: 0;
    margin-top: 15px;
  }
}

@media (max-width: 420px){
  .user{
    margin-right: 15px;
  }
  .user__info{
    display: none;
  }
  .user__img{
    margin-right: 0;
  }
  .withdrawals__label span{
    font-size: 14px;
    position: relative;
    &::after{
      font-size: 20px;
      position: absolute;
    }
  }
  .about__header{
    padding: 23px 15px;
  }
  .upload__form-header{
    padding: 23px 15px;
  }
  .profile__banner-img{
    height: 200px;
  }
  .profile__btn{
    max-width: 100%;
  }
  .profile__social .social{
    justify-content: space-around;
  }
  .product__img{
    padding: 10px;
  }
  .product__social{
    justify-content: space-between;
  }
}


@media (min-width: 921px){
  .menu__lis{
    display: block !important;
  }
}