@import 'fonts';
@import 'vars';
@import 'global';



// start header

.header__top-inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}
.header__text{
  margin-left: auto;
  margin-right: 50px;
}
.header__help-link{
  color: $red;
}
.header__btn{
  color: #fff;
  width: 72px;
  padding: 4px;
  border-radius: 4px;
  text-align: center;
  font-size: 12px;
  &--login{
    background-color: $green;
  }
  &--register{
    background-color: $red;
    margin-left: 5px;
  }
}
.header__menu{
  background-color: $dark;
}
.menu{
  height: 60px;
  display: flex;
  align-items: center;
  &__item + &__item{
    margin-left: 41px;
  }
  &__link{
    color: #fff;
    font-size: 14px;
    line-height: 30px;
    font-weight: 500;
  }
}
//end header

//start search
.search{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  &__inner{
    min-height: 533px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    color: #fff;
    text-transform: capitalize;
  }
  &__title{
    font-weight: 700;
    font-size: 48px;
    line-height: normal;
    margin-bottom: 15px;
  }
  &__text{
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 45px;
    font-weight: 500;
  }
  &__form{
    max-width: 670px;
    width: 100%;
    position: relative;
    &-input{
      width: 100%;
      height: 56px;
      box-shadow: 0px 1px 10px 0px rgba(124, 178, 64, 0.75);
      border-radius: 4px;
      background-color: #fff;
      padding: 0 80px 0 25px;
      font-size: 14px;
      font-weight: 500;
      &::placeholder{
        color: #90a4ae;
        letter-spacing: 1px;
      }
    }
    &-btn{
      position: absolute;
      right: 20px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}
//end search

//start products

.products{
  background-color: $gray;
  padding: 110px 0;
  &__title{
    @extend %title;
    margin-bottom: 40px;
  }
  &__buttons{
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
  }
  &__btn{
    padding: 10px 20px;
    background-color: #fff;
    color: $dark;
    font-size: 14px;
    font-weight: 500;
    transition: all .3s;
    & + &{
      margin-left: 6px;
    }
  }
  &__box{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 -15px;
  }
  &__sort-buttons{
    display: flex;
    justify-content: center;
    margin-top: 75px;
  }
  &__sort-btn{
    background-color: #fff;
    box-shadow: 0px 1px 3px 0px rgba(204, 216, 228, 0.75);
    padding: 17px 30px;
    color: $dark;
    font-size: 16px;
    margin: 0 5px;
    transition: all .3s;
  }
  .mixitup-control-active{
    box-shadow: 0px 2px 5px 0px rgba(202, 215, 228, 0.75);
    background-color: $red;
    color: #fff;
  }
}
//end products

@import 'media';
